.address-main{width:100%;height:auto;margin-top:2.5rem;padding-bottom:3rem;background:#FFFFFF;}
.address-main ul{width:100%;height:3rem;border-bottom: #EFEFEF solid 1px;background:#FFFFFF;display:flex;justify-content: space-between;align-items:center;}
.address-main ul li:nth-child(1) .contact{width:10rem;height:1rem;margin-left:8%;font-size:0.6rem;}
.address-main ul li:nth-child(1) .address{width:10rem;height:auto;font-size:0.6rem;margin-left:8%;color:#999;}
.address-main ul li:nth-child(2){width: 0.8rem;height: 0.8rem;background-image: url("../../../images/common/right_arrow.png");background-size: 100%;background-repeat: no-repeat;background-position: center;margin-right: 3%;}
.address-main .address span{color:#FDB709}

.add-main{width:100%;height:3rem;position:fixed;bottom:0px;border-top:#EFEFEF solid 1px;display:flex;justify-content: center;align-items:center;background-color:#FFFFFF;}
.add-main .add-btn{width:90%;height:2rem;background-color:#EB1625;color:#FFFFFF;font-size:0.7rem;text-align:center;line-height:2rem;border-radius:3px;}