.endorder-main{width:100%;height:auto;margin-top:2.5rem;background:#FFFFFF;overflow:hidden;}
.endorder-main .result-msg{width:100%;height:auto;font-size:0.8rem;color:#E51B19;line-height:1.5rem;padding-top:2%;text-align:center;}
.endorder-main .result-msg span{color:#F17F1F;}