.cart-main{width:100%;margin-top:2.5rem;padding-bottom:2.5rem;background:#FFFFFF;}
.cart-main .item-list{width:100%;height:6rem;background:#FFFFFF;border-bottom:#EFEFEF solid 2px;overflow:hidden;}
.cart-main .select-area{width:10%;height:100%;float:left;position:relative;}
.cart-main .select-area .check-mark{width:0.8rem;height:0.8rem;border:#EFEFEF solid 1px;border-radius:100%;position:absolute;z-index:1;top:43%;left:15%;}
.cart-main .select-area .check-mark input{opacity:0;width:100%;height:100%;}
.cart-main .select-area .check-mark.active{background-image:url("../../../images/home/cart/checkmark.png");background-size:100%;background-repeat:no-repeat;background-position:center;border:none 0px;}
.cart-main .items-wrap{width:90%;height:100%;float:left;position:relative;}
.cart-main .items-wrap .goods-image{width:3rem;height:3rem;position:absolute;z-index:1;left:0px;top:25%;}
.cart-main .items-wrap .goods-image img{width:100%;}
.cart-main .items-wrap .goods-title{width: 70%;height: 1.5rem;font-size: 0.6rem; position: absolute;z-index: 1;left:25%;top: 10%;overflow: hidden;line-height: 0.8rem;text-align:left;}
.cart-main .items-wrap .goods-param{width: 70%;height: auto;font-size: 0.6rem; position: absolute;z-index: 1;left:25%;top: 38%;overflow: hidden;text-align:left;white-space:nowrap;text-overflow:ellipsis;color:#B5B5B5;}
.cart-main .items-wrap .goods-param .attr{margin-right:10px;}
.cart-main .items-wrap .goods-param .param{margin-right:5px;}
.cart-main .items-wrap .price{width:30%;height:auto;position:absolute;z-index:1;left:25%;top:65%;color:#CC0004;font-size:0.7rem;}
.cart-main .items-wrap .itemsCount{width:30%;height:auto;position:absolute;z-index:1;left:65%;top:65%;}
.cart-main .items-wrap .itemsCount .num-wrap{width:5rem;height:1.2rem;border:solid 1px #000000;border-radius:3px;position:absolute;z-index:1;right:5%;top:0%;overflow:hidden;}
.cart-main .items-wrap .itemsCount .num-wrap .minus{width:1.5rem;height:0.8rem;border-right:#B5B5B5 solid 1px;margin-top:4%;color:#B5B5B5;text-align:center;line-height:0.8rem;float:left;}
.cart-main .items-wrap .itemsCount .num-wrap .minus.active{color:#000000;border-right:#000000 solid 1px;}
.cart-main .items-wrap .itemsCount .num-wrap .plus{width:1.5rem;height:0.8rem;border-left:#000000 solid 1px;margin-top:4%;color:#000000;text-align:center;line-height:0.8rem;float:left;}
.cart-main .items-wrap .itemsCount .input-num{width:1.9rem;height:auto;float:left;margin-top:-0.2rem;}
.cart-main .items-wrap .itemsCount .input-num .amount{width:100%;font-size:0.7rem;border:none 0px;outline:none;-webkit-appearance:none;text-align:center;}
.cart-main .items-wrap .del{width:auto;height:auto;position:absolute;z-index:1;left:1rem;top:83%;font-size: 0.6rem;color:#B5B5B5;}

.sett-nav{width:100%;height:2.5rem;position:fixed;z-index:5;bottom:0px;border-top:solid #EFEFEF 1px;background:#FFFFFF;}
.sett-left{width:70%;height:100%;position:relative;float:left;}
.sett-nav .sett-left .choose{width:5rem;height:auto;position:absolute;z-index:5;left:5%;top:30%;}
.sett-nav .sett-left .choose .check-mark{width:0.8rem;height:0.8rem;border:#EFEFEF solid 1px;border-radius:100%;}
.sett-nav .sett-left .choose .check-mark.active{background-image:url("../../../images/home/cart/checkmark.png");background-size:100%;background-repeat:no-repeat;background-position:center;border:none 0px;}
.sett-nav .sett-left .choose .check-text{width:2rem;height:auto;position:absolute;z-index:5;left:25%;top:15%;font-size:0.6rem;}
.sett-nav .sett-left .total{width:auto;height:auto;position:absolute;right:4%;top:33%;z-index:5;font-size:0.6rem;}
.sett-nav .sett-left .total span{color:#CC0004}
.sett-nav .sett-right{width:30%;height:100%;background:#CC0004;text-align:center;line-height:2.5rem;float:left;color:#FFFFFF;font-size:0.8rem;border-radius: 0px;}
.sett-nav .sett-right.disable{background:#BFBFBF;}
